# Project Structure (Keep folders but ignore contents)
/data/**/*
!/data/**/.gitkeep
/results/**/*
!/results/**/.gitkeep
/models/**/*
!/models/**/.gitkeep

# Ignore Data/Result files
*.parquet
*.csv
*.xlsx
*.zip
*.7z
*.sql
*.log
*.pkl
*.joblib

# Python
venv/
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDEs
.vscode/
.idea/
.project
.pydevproject
.settings/

# OS
.DS_Store
Thumbs.db

# Project Specific
.tmp/
scratch/
artifacts/
logs/
